h2 {
    color:black;
}

#center_nav {
  margin-bottom:auto;
}
.ml-auto {
    margin-left: auto !important
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:100px;
}

#center_nav {
  margin-bottom:auto;
}
.ml-auto {
    margin-left: auto !important
}

#footer {
   position: absolute;
   bottom:0;
   width:100%;
   height:90px;
   position: relative;
}

/* SIDE NAV BAR */
#sidenav-header {
    background-color: rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.125);
    font-size: large;
    font-weight: bold;
    text-align: center;
}

#sidenav-body {
    padding-bottom: 5px;
    cursor: pointer;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 187, 0);
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

br {
    content: "";
}
/* END SIDE NAV BAR */

/* GALLERY */
#gallery-title {
    text-align: center;
}

.container {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        grid-gap: 2rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
}

.gallery-item {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
    display: none;
}

.gallery-item-info li {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
}

.gallery-item-likes {
    margin-right: 2.2rem;
}

.gallery-item-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item-listing {
    position: relative;
    color: black;
}

h3 {
    font-size: medium;
}

.gallery-item-listing-user {
    position: relative;
    color: lightslategray;
    font-weight: 515;
}

.currency-symbol .price {
    position: absolute;
    color: Black;
    font-weight: 420;
    position: relative;
}

.layout-row {
    flex: 1 1 100%;
    min-width: 0;
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}