<!-- ORIGINAL LOG IN INFORMATION -->

<!-- <div class = "center">
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method="POST" action="/login">
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <br>
                <input type="submit" value = "submit" class="btn btn-primary btn-block">Log In</input>
            </form>
            <br><br>
            <div>
                Don't have an account? <a href="{{ url_for('register') }}">Sign up here</a>.
            </div>
        </div>
    </div>
</div>
</div> -->

<!-- END OF LOG IN INFORMATION -->


<!-- ORIGINAL REGISTRATION INFORMATION -->
<!-- <div id = "registration">
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method='POST' action="/register">
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
            <br>
        </div>
    </div>
</div>
</div> -->
<!-- END OF ORIGINAL REGISTRATION INFORMATION -->